<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chairman"
        tools:targetApi="31">
        <activity
            android:name=".user.RentalActivity"
            android:exported="false" />
        <!-- 회원가입 화면 -->
        <activity
            android:name=".normal.SignUpActivity"
            android:exported="false" /> <!-- 로그인 화면: 앱이 시작될 때 첫 화면으로 설정 -->
        <activity
            android:name=".normal.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 메인 화면 -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".user.InstitutionListActivity"
            android:exported="false" />
        <activity
            android:name=".user.WheelchairListActivity"
            android:exported="false" />
        <activity
            android:name=".user.AvailableWheelchairActivity"
            android:exported="false" />
    </application>

</manifest>